<template>
  <article>
    <h5>Posts list</h5>
    <section>
      <div>
        <h6>Add new post</h6>
        <button v-on:click="togglePostPanel">
          {{ isPanelShown ? "Hide panel" : "Add post" }}
        </button>
      </div>
      <div v-if="isPanelShown">
        <input type="text" v-model="message.title" />
        <textarea
          name="postMessage"
          id="postMessage"
          cols="30"
          rows="10"
          v-model="message.body"
        ></textarea>
        <button v-on:click="createPost">Add</button>
      </div>
    </section>
    <ul>
      <li>
        <post-item
          v-for="post in posts"
          v-bind:post="post"
          v-bind:key="post.id"
          v-on:openPost="openPost"
        ></post-item>
      </li>
    </ul>
  </article>
</template>

<script>
import PostItem from "../components/PostItem";

export default {
  name: "BlogPage",
  data() {
    return {
      isPanelShown: false,
      message: {
        title: "",
        body: ""
      },
      postsCount: 0
    };
  },
  methods: {
    togglePostPanel: function() {
      this.isPanelShown = !this.isPanelShown;
    },
    createPost: function() {
      if (this.message.title === "" || this.message.body === "") return;
      this.postsCount += 1;

      const payload = {
        id: this.postsCount,
        title: this.message.title,
        body: this.message.body
      };
      this.$store.dispatch("addPost", payload);
      this.message.title = "";
      this.message.body = "";
    },
    openPost: function(post) {
      this.$router.push({ path: `/posts/${post.id}` });
    }
  },
  computed: {
    posts: function() {
      return this.$store.state.posts;
    }
  },
  components: {
    PostItem
  }
};
</script>
