<template>
  <section>
    <article>
      <div>
        <!-- later inser custom logo -->
        <img src="../assets/logo.png" alt="logo.jpg" />
      </div>
      <q>The journey for a thousand miles begins with a few steps...</q>
      <h1>Jason Black</h1>
      <div>
        Hi, everyone! My name is Jason Black. I'm a beginner fullstack
        web-developer.On the page you can find my projects, thoughts and maybe
        books annotation. Who knows? ;)
      </div>
    </article>
  </section>
</template>

<script>
export default {
  name: "HomePage"
};
</script>
