<template>
  <section>
    <template v-if="!showMode">
      <p>{{ object.id }}</p>
      <h6>{{ object.title }}</h6>
      <p>{{ object.body }}</p>
      <button v-on:click="editPost">Edit post</button>
      <button v-on:click="deletePost">Delete post</button>
    </template>

    <template v-if="showMode">
      <input type="text" v-model="editedObject.title" />
      <textarea
        name="body"
        id="textbody"
        cols="30"
        rows="10"
        v-model="editedObject.body"
      ></textarea>
      <button v-on:click="savePost">Save</button>
    </template>
  </section>
</template>

<script>
export default {
  name: "PostPage",
  data() {
    return {
      showMode: false,
      editedObject: {
        id: -1,
        title: "",
        body: ""
      }
    };
  },
  beforeCreate() {
    const postId = Number(this.$route.params.id);
    if (isNaN(postId) || postId == null) this.$router.push({ path: "/blog" });
    const post = this.$store.getters.getPostById(postId);
    if (post != null) this.$store.dispatch("setPostToJump", post);
  },
  beforeDestroy() {
    this.$store.dispatch("removePostToJump");
  },
  computed: {
    object() {
      return {
        id: this.$store.getters.getPostToJump.id,
        title: this.$store.getters.getPostToJump.title,
        body: this.$store.getters.getPostToJump.body
      }
    }
  },
  methods: {
    editPost() {
      this.editedObject = Object.assign(this.object);
      this.$store.dispatch("changePost", this.object);
      this.showMode = !this.showMode;
    },
    savePost() {
      // if (this.editObject.title === "" || this.editObject.body === "") return;
      this.$store.dispatch("savePost", this.editedObject);
      this.showMode = !this.showMode;
    },
    deletePost() {
      this.$store.dispatch("deletePost", this.object);
      this.$router.push({ path: "/blog" });
    }
  }
};
</script>
