<template>
  <article class="post">
    <h6>{{ postTitle }}</h6>
    <div>{{ postBody }}</div>
    <button v-on:click="openPost">Read</button>
  </article>
</template>

<script>
export default {
  name: "post-item",
  props: ["post"],
  methods: {
    openPost: function() {
      this.$emit("openPost", this.post);
    }
  },
  computed: {
    postTitle: function() {
      return this.post.name;
    },
    postBody: function() {
      return this.post.body;
    }
  }
};
</script>
